html {
 	background-color: #d9ffb3;
 	height: 120%;
}

body{
	margin-top: 2%;
 	margin-right:8%;
 	margin-bottom:1%;
 	margin-left: 8%;
 	background-color: #f2f2f2;
 	border-radius: 2%;
 	min-height: 200%; 
 	position: relative;	

}


.body1{
	margin-left: 17%;
	margin-right: 17%;
	width:66%;
	height: 100%;
	max-width: 1000px;
  	min-width: 700px;
}

.header h1{
	color:#53c653;
	margin-left: 2%;
	padding-top: 2%;
	padding-bottom: 0.75%;
	font-size: 28px;
	font-family: Arial,Tahoma;
}

#navbar li  {
	display: inline;
	float: left;
}
#navbar ul {
	margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background:/* #727454;*/#555;
    border-radius: 10px;
    font-family: Arial,Tahoma;
}

#navbar li a {
	display: block;
    color: white;
    text-align: center;
   	padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background: #e35a00;
}
.en-cours{
    background: #e35a00;
}
.app a img {
	margin-left: 56.5%;
	margin-top: 10%;
	position: fixed;
	height: 7%;
	width: 4%;

}


.sticky {
  position: fixed;
  top: 0;
  width: 84%;
}

.volley {
	box-sizing: 50%;
	float: left;
	font-family: Arial,Tahoma;
	margin-top: 12%;
}
.volley h1 {
	font-size: 28px;
	margin-left: 38%;
}
.volley p {
	margin-left: 10%;
	text-align: center;
}

.photovolley img {
	box-sizing: 50%;
	float: right;
	height: 30%;
	width: 45%;
	margin-top: 7%;
	margin-right: 10%;
}

.voyage {
	box-sizing: 50%;
	float: left;
	font-family: Arial,Tahoma;
	margin-top: 22%;

}
.voyage h1 {
	font-size: 28px;
	margin-left: 32%;
}
.voyage p{
	margin-left: 10%;
	text-align: center;
}
.photovoyage img {
	box-sizing: 50%;
	float: right;
	margin-top: 7%;
	margin-right: 10%;

}

.surf {
	box-sizing: 50%;
	float: left;
	font-family: Arial,Tahoma;
	margin-left: 0%;
	margin-top: 25%;
}
.surf h1 {
	font-size: 28px;
	margin-left: 35%;
}
.surf p{
	margin-left: 12%;
	text-align: center;
}
.photosurf img {
	box-sizing: 50%;
	float: right;
	height: 30%;
	width: 45%;
	margin-top: 7%;
	margin-right: 10%;
}











footer {
	position:absolute;
  	width:100%;
  	height: 0%;
	bottom: 7%;
	/*width: 80%; 
   	height: 0%; */ /* Hauteur du pied de page */ 


}
.footer {}

.footer img{
	width: 16%;
	height: 8%;
	margin-left: 51%;
}
footer p{
	display: inline;
}
.footer p:first-child{
	padding-left: 10px;
	font-family: Arial,Tahoma;
	color: black;
}

.Mail {
	padding-left: 38%;
	padding-top: 2%;

}
.Mail p {
	font-family: Arial,Tahoma;
	color: black;
}

.btn {
 	position:fixed;
 	padding-left: /*1115px*/ 86%;
 	bottom: 0;
}
